/* .events {
    flex: 1em;
    position: top;
    text-align: left;
    background-color: tan;
    font-size: 1.25em;
    font-weight: bold;
    border-color: black;
}
.events fieldset {
    flex: wrap;
}
.events h3 {
    font-size: 1.20em;
    font-weight: bolder;
}

.events button {
    font-size: .8em;
    font-weight: normal;
    color: black;
} */