@import "./Events.css";

.chat {
    display: flex;
    flex-flow: column;
    width: 25em;
    height: 40em;
    border: 2px;
    border-color: black;
    border-style: solid;
    font-weight: 800;
    background-color:#575757;
}

.chatHeader {
    text-align: center;
    font-size: 22pt;
    margin-top: 1em;
    color: white;
}

.chatButtons {
    display: flex;
    justify-content: space-around;
}

.chatPoster {
    text-align: right;
}

.messageControls {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.deleteMessage {
    height: 2em;
    width: 12.5em;
    font-size: 11pt;
    font-weight: 600;
    background-color: lightcoral;
}

#editMessage {
    height: 2em;
    width: 12.5em;
    font-size: 11pt;
    font-weight: 600;
    background-color: lightskyblue;
}

.newMessage {
    margin-top: 2em;
    height: 2em;
    width: auto;
    font-size: 14pt;
    font-weight: 500;
}

#submitMessage {
    margin-top: 1em;
    font-size: 14pt;
    width: 10em;
    margin-left: 5.5em;
    background-color: lightgreen;
}

.messagesContainer {
    width: auto;
    height: auto;
    font-size: 14pt;
    line-height: 1.5;
    margin-top: 1em;
    background-color: #FFFFFF;
}

.messagesList {
    overflow: auto;
}